/* global */

body {
    background: rgb(221, 221, 221);
    background: radial-gradient(circle, rgba(221, 221, 221, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

h3 {
    font-family: 'Motorola ScreenType';
    color: #30475E;
}

h4 {
    font-family: 'Motorola ScreenType';
    color: #30475E;
}

h5 {
    font-family: 'Motorola ScreenType';
    color: #30475E;
}


/* header section */

.header-right {
    font-size: 36px;
}

@media only screen and (max-width: 767px) {
    .header-right {
        margin-top: 16px;
        text-align: center;
        ;
    }
}

@media only screen and (max-width: 767px) {
    .resume-button {
        text-align: center;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .hide-on-small {
        display: none;
    }
}

#resume {
    text-align: center;
}

#resume-background {
    background-color: #f2f2f2;
}


/* text */

@font-face {
    font-family: 'Motorola ScreenType';
    src: url('./fonts/MotorolaScreenType.woff2') format('woff2'), url('./fonts/MotorolaScreenType.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.motorola {
    font-family: 'Motorola ScreenType';
    color: #222831;
}

.text {
    color: #222831;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18.2px;
    font-family: 'Motorola ScreenType';
}


/* custom button */

.custom-button {
    font-family: 'Motorola ScreenType';
    border-width: 0px;
    border-radius: 2px;
    background-color: #F05454;
}

.custom-button:hover {
    background-color: #9b2323;
}


/* footer */

.footer-background {
    background-color: #30475E;
}

.footer-text {
    color: #f2f2f2;
    font-family: 'Motorola ScreenType';
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18.2px;
    font-family: 'Motorola ScreenType';
}

.footer-text-headline {
    color: #f2f2f2;
}


/* 
.btn-grad {background-image: linear-gradient(to right, #3CA55C 0%, #B5AC49  51%, #3CA55C  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */

   .navigation {
    overflow-y: scroll;
    height: 150px;
   }